@font-face {
	font-family: 'CodeLight';
	src: url(../fonts/codelight.ttf);
}
@font-face {
	font-family: 'Open Sans';
	src: url(../fonts/OpenSans-Light.ttf);
}
body {
	background-color:  rgb(255, 252, 252);
	margin: 0;
	font-size: 1.9em;
	font-family: 'Open Sans', sans-serif;
	color: rgb(40, 40, 40);
}
a:link {
	text-decoration: none;
}
#content {
	width: 80%;
	margin: 6% 10% 1% 10%;
	position: relative;
}
h1{
	font-family: 'CodeLight', sans-serif;
	font-size: 3.5em;
	margin:0;
	color: rgb(255, 42, 79);
	max-width: 65%;

}
img {
	width: 33%;
	position: absolute;
	top: 0%;
	right: 0%;
	border: 1px solid rgb(40, 40, 40);
}
h2, h3 {
	max-width: 65%;
	font-size: 48px;
	font-weight: normal;
	margin-top: 0%;
	margin-bottom: 5%;
}
p {
	font-size: 32px;
	margin-top: 0%;
	margin-bottom: 5%;
}
p a, span.link {
	color: rgb(255, 87, 0);
}
span.link:hover {
	cursor: pointer;
}
.email {
	margin-bottom: 0;
}
.portfolio {
	width: 100%;
}
.portfolio li {	
	background-color: white;
	transition: color 0.3s linear;
	margin:0;
	list-style: none;
	float: left;
	width: 25%;
	height: 120px;
	color: transparent;
	background-size: 150%;
}
#content .portfolio li:hover {
	background-opacity: 0.5p;
}
.portfolio-content p {
	padding: 0 2%;
	min-height: 120px;
	margin: 0;
	font-size: 25px;
	transition: background-color 0.3s linear;
}
#content .portfolio p:hover {
	background-color: rgba(255, 252, 252, 0.8);
	color: rgb(40, 40, 40);
}
.portfolio-content ul {
	display: inline-table;
	padding: 0;
	margin: 0;
}
.portfolio-content #portfolio-ballwar {
	background-image: url(../images/portfolio/ballwar.jpg);
}
.portfolio-content #portfolio-motocatt {
	background-image: url(../images/portfolio/motocatt.jpg);
}
.portfolio-content #portfolio-tancini {
	background-image: url(../images/portfolio/tancini.jpg);
}
footer p {
	margin: 0;
	font-size: 0.4em;
	margin-top: 5%;
}
@media (max-width: 1180px) {
	#content .portfolio li {
		width: 50%;
	}
}
@media (max-width: 1110px) {
	h1 {
		font-size: 3em;
	}
}
@media (max-width: 960px) {
	h1 {
		font-size: 2.8em;
	}
	h2, h3 {
		font-size: 43px;
	}
}
@media (max-width: 960px) {
	h1 {
		font-size: 2.5em;
	}
	h2, h3 {
		font-size: 40px;
	}
	p {
		font-size: 30px;
	}
}
@media (max-width: 790px) {
	#content .portfolio li {
		width: 100%;
	}
	h1, h2, h3 {
		max-width: 100%;
	}
	img {
		width: 100%;
		position:static;
	}
}
@media (max-width: 530px) {
	h1 {
		font-size: 2.2em;
	}
	h2, h3 {
		font-size: 34px;
	}
}
@media (max-width: 466px) {
	h1 {
		font-size: 1.8em;
	}
	h2, h3 {
		font-size: 30px;
	}
	p {
		font-size: 27px;
	}
}
@media (max-width: 466px) {
	h1 {
		font-size: 1.5em;
	}
	h2, h3 {
		font-size: 30px;
	}
	p {
		font-size: 27px;
	}
}