@font-face {
	font-family: 'CodeLight';
	src: url(../fonts/codelight.ttf);
}
@font-face {
	font-family: 'Open Sans';
	src: url(../fonts/OpenSans-Light.ttf);
}
html, body {
	height: 100%;
}
body {
	background-color:  rgb(255, 252, 252);
	margin: 0;
	font-size: 1.9em;
	font-family: 'Open Sans', sans-serif;
	color: rgb(40, 40, 40);
}
a:link {
	text-decoration: none;
}
#content {
	width: 80%;
	padding: 10% 10% 10% 10%;
    padding-bottom: 0;
	height: 55%;
	position: relative;
}
#header-section {
	position: relative;
}
#header-section nav {
	position: absolute;
}
#header-section nav p  {
	margin: 0;
}
h1{
	font-family: 'CodeLight', sans-serif;
	font-size: 3.5em;
	margin:0;
	color: rgb(255, 42, 79);
	max-width: 65%;

}
img {
	width: 33%;
	position: absolute;
	top: 0%;
	right: 0%;
	border: 1px solid rgb(40, 40, 40);
}
h2, h3 {
	max-width: 65%;
	font-size: 48px;
	font-weight: normal;
	margin-top: 0%;
	margin-bottom: 5%;
}
p {
	font-size: 32px;
	margin-top: 0%;
	margin-bottom: 5%;
}
p a, span.link {
	color: rgb(255, 87, 0);
}
a {
	cursor: pointer;
}
span.link:hover {
	cursor: pointer;
}
.email {
	margin-bottom: 0;
}
.portfolio {
	width: 100%;
}
.portfolio li {
	background-color: white;
	transition: color 0.3s linear;
	border: 1px solid rgb(40, 40, 40);
	margin:0;
	list-style: none;
	float: left;
	width: 23.5%;
	margin-right: 1%;
	margin-bottom: 1%;
	height: 120px;
	color: transparent;
	background-size: 150%;
}
#content .portfolio li:hover {
	background-opacity: 0.5p;
}
.portfolio p {
	padding: 0 2%;
	min-height: 120px;
	margin: 0;
	font-size: 25px;
	transition: background-color 0.3s linear;
}
#content .portfolio p:hover {
	background-color: rgba(255, 252, 252, 0.8);
	color: rgb(40, 40, 40);
}
.portfolio ul {
	display: inline-table;
	padding: 0;
	margin: 0;
}
.portfolio #portfolio-ballwar {
	background-image: url(../images/portfolio/ballwar.jpg);
}
.portfolio #portfolio-motocatt {
	background-image: url(../images/portfolio/motocatt.jpg);
}
.portfolio #portfolio-tancini {
	background-image: url(../images/portfolio/tancini.jpg);
}
.portfolio #portfolio-shotapp {
	background-image: url(https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xta1/v/t1.0-9/11425246_835923686495989_1194236587083296584_n.jpg?oh=83549b6f02a87d2269f36de60d8900ca&oe=562B2ED3&__gda__=1445573978_bbebd1888c8bf89ec6e1118128ab7ab0);
}
.top-menu {
	position: absolute;
	top: 10%;
}
.top-name {
    position: absolute;
    top: 11%;
    right: 10%;
    font-size: 1.2em;
}

.fadeInUp {
  -webkit-animation: fadeInUp 1s;
  animation: fadeInUp 1s;
}

.fadeOutUp {
  -webkit-animation: fadeOutUp 1s;
  animation: fadeOutUp 1s;
}

.hidden-element {
	display: none;
}
#experience-section article, #education-section article {
	float: left;
	width: 50%;
}
.information-section {
    margin-bottom: 0%;
}
.information-section legend {
	margin-bottom: 2%;
	font-size: 0.8em;
}
footer p {
	margin: 0;
	font-size: 0.4em;
	margin-top: 5%;
}
@media (max-width: 1180px) {
    #content .portfolio li {
        width: 48%;
    }
    #experience-section article, #education-section article {
        float: left;
        width: 100%;
    }
}
@media (max-width: 1135px) {
    * {
        position: static;
        float: none;
        height: auto;
    }
	.hidden-element {
        display: block;
    }
    #header-section {
        position: static;
        height: auto;
    }
    #header-section h1, h2{
        float: none;
        max-width: 100%;
    }
    #header-section nav {
        display: none;
    }
    img {
        width: 48%;
        position: static;
        margin-bottom: 2%;
        border: 1px solid rgb(40, 40, 40);
    }
    #content {
        height: auto;
    }
    .fadeInUp {
      -webkit-animation: none;
      animation: none;
    }

    .fadeOutUp {
      -webkit-animation: none;
      animation: none;
    }
    h2, h3 {
        margin-top: 15%;
    }
    h4 {
        margin-top: 5%;
    }
    #experience-section article, #education-section article {
        float: none;
    }
}
@media (max-width: 1110px) {
	h1 {
		font-size: 3em;
	}
}
@media (max-width: 960px) {
	h1 {
		font-size: 2.8em;
	}
	h2, h3 {
		font-size: 43px;
	}
}
@media (max-width: 960px) {
	h1 {
		font-size: 2.5em;
	}
	h2, h3 {
		font-size: 40px;
	}
	p {
		font-size: 30px;
	}
}
@media (max-width: 790px) {
	#content .portfolio li {
		width: 100%;
	}
	h1, h2, h3 {
		max-width: 100%;
	}
	img {
		width: 100%;
		position:static;
	}
}
@media (max-width: 530px) {
	h1 {
		font-size: 2.2em;
	}
	h2, h3 {
		font-size: 34px;
        font-weight: bolder;
	}
}
@media (max-width: 466px) {
	h1 {
		font-size: 1.8em;
	}
	h2, h3 {
		font-size: 30px;
	}
	p {
		font-size: 27px;
	}
}
@media (max-width: 466px) {
	h1 {
		font-size: 1.5em;
	}
	h2, h3 {
		font-size: 30px;
	}
	p {
		font-size: 27px;
	}
}

/* Animations */
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

