@font-face {
	font-family: Segan;
	src: url(../fonts/Segan.ttf);
}
.vcard {
	display: none;
}
body {
	background-image: linear-gradient(to bottom, rgb(255, 42, 79), rgb(255, 143, 0));
	margin: 0;
	font-size: 1.9em;
	font-family: 'Segan', sans-serif;
	color: gray;
}
a:link {
	text-decoration: none;
}
#content {
	width: 83%;
	margin-left: 5%;
	margin-top: 4%;
	margin-bottom: 3%;
	background-color: rgb(246, 243, 243);
	background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(240, 240, 240));
	box-shadow: rgb(82, 0, 0) 0px 0px 20px;
	padding: 2%;
	padding-left: 5%;
	padding-bottom: 1%;
}
header h1{
	font-family: 'Segan', sans-serif;
	font-size: 3.5em;
	margin:0;
	color: rgb(255, 42, 79);
	font-weight: lighter;
	text-shadow: rgb(182, 182, 182) 1px 1px 3px;
}
header h2 {
	text-align: right;
	font-size: 1.6em;	
}
header img{
	border-radius: 100%;
	width: 25%;
	box-shadow: rgb(162, 152, 152) 1px 1px 5px;
}
header {
	padding-top: 3%;
	text-align: center;
}
header div {
	margin-right: 10%;
	padding-bottom: 4%;
	vertical-align: bottom;
}
header div * {
	text-align: right;
}
header>* {
	display: inline-table;
}
article {
	display: inline-block;
	width: 90%;
	padding-left: 5%;
}
article h1, header h2 {
	font-family: 'Segan', sans-serif;
	margin: 0;
	font-weight: lighter;
	text-shadow: rgb(165, 165, 165) 1px 1px 2px;
}
article h2{
	font-size: 1.3em;
	font-weight: lighter;
	margin-bottom: 2%;
	margin-top: 7%;
	text-shadow: rgb(189, 189, 189) 1px 1px 1px;
}
p {
	font-size: 0.8em;
	margin: 0px;
	margin-top: 0.7%;
	letter-spacing: 1px;
	line-height: 120%;
}
.curso p {
	margin: 0px;
}
.curso {
	margin-top: 2%;
	margin-left: 0;
}
.comp {
	font-size: 1em;
}
.small {
	display: none;
}
.portfolio h1 {
	margin-bottom: 4%;
	margin-top: 4%;
	letter-spacing: 2px;
	font-size: 1.3em;
}
.portfolio img {
	width: 100%;
}
#content .portfolio {
	width: 100%;
}
#content .portfolio li {
	
	box-shadow: black 1px 1px 4px;
	background-color: white;
	transition: color 0.3s linear;
	margin:0;
	list-style: none;
	float: left;
	width: 25%;
	height: 100px;
	color: transparent;
	background-size: 150%;
}
#content .portfolio li:hover {
	background-opacity: 0.5p;
	color: gray;
}
.portfolio-content p {
	padding: 0 2%;
	min-height: 100px;
	margin: 0;
	transition: background-color 0.3s linear;
}
#content .portfolio p:hover {
	background-color: rgba(255, 255, 255, 0.8);
}
.portfolio-content ul {
	display: inline-table;
	padding: 0;
}
.portfolio-content #portfolio-ballwar {
	background-image: url(../images/portfolio/ballwar.jpg);
}
.portfolio-content #portfolio-motocatt {
	background-image: url(../images/portfolio/motocatt.jpg);
}
.portfolio-content #portfolio-tancini {
	background-image: url(../images/portfolio/tancini.jpg);
}
.portfolio a:link {
	text-decoration: none;
}
footer p {
	margin: 0;
	font-size: 0.4em;
	margin-top: 5%;
	text-align: center;
}
@media (max-width: 1180px) {
	#content .portfolio li {
		width: 50%;
		height: 100px;
	}
	article h2{
		font-size: 1.1em;
	}
	.comp {
		font-size: 0.8em;
	}
	p {
		font-size: 0.6em;
	}
}
@media (max-width: 720px) {
	#content .portfolio li {
		width: 100%;
	}
	header h1 {
		font-size: 2em;
	}
	header h2 {
		font-size: 1em;
	}
	.big {
		display: none;
	}
	.small {
		display: block;
	}
}
@media (max-width: 670px) {
	article h2{
		font-size: 1em;
	}
	.comp {
		font-size: 0.7em;
	}
	p {
		font-size: 0.6em;
	}
}
@media (max-width: 510px) {
	article {
		padding-left: 3%
	}
}
@media (max-width: 400px) {
	header h1 {
		font-size: 1.5em;
	}
	header h2 {
		font-size: 0.7em;
	}
}
