@font-face {
	font-family: 'CodeLight';
	src: url(../fonts/codelight.ttf);
}
@font-face {
	font-family: 'Open Sans';
	src: url(../fonts/OpenSans-Light.ttf);
}
body {
	background-color:  rgb(255, 252, 252);
	margin: 0;
	font-size: 1.9em;
	font-family: 'Open Sans', sans-serif;
	color: rgb(40, 40, 40);
}
::selection {
  background: rgb(255, 42, 79);
  color: white;
}
::-moz-selection {
  background: rgb(255, 42, 79);
  color: white;
}
a:link {
	text-decoration: none;
}
li {
  list-style: none;
  font-size: 0.86em;
}
img {
    border: 1px solid rgb(40, 40, 40);
}
h1 {
    font-family: 'CodeLight', sans-serif;
    font-size: 2.5em;
    margin:0;
    color: rgb(255, 42, 79);
}
h2 {
    font-size: 30px;
    font-weight: normal;
    margin-top: 0%;
    margin-bottom: 1%;
}
p {
    font-size: 26px;
    margin-top: 0%;
}
p a,
p a:visited {
    color: rgb(255, 87, 0);
}
a {
    cursor: pointer;
}
#content {
	width: 86%;
	padding: 7%;
  padding-bottom: 0;
  position: absolute;
}
#header-section {
  width: 100%;
  position: relative;
  margin-bottom: 5%;
}
#header-section #menu-container {
  width: 100%;
  text-align: center;
}
#personal-section {
  width: 100%;
  position: relative;
  margin-bottom: 10%;
}
#personal-section img {
  width: 34%;
  margin-top: 0.5%;
  margin-right: 0%;
  border-radius: 1%;
}
#personal-section #about {
  width: 65%;
  position: absolute;
  top: 0%;
  left: 37%;
}
#tags {
  position: absolute;
  width: 100%;
}
#tags .tag {
  background-color: rgb(255, 42, 79);
  float: left;
  margin-right: 1%;
  margin-bottom: 6px;
  padding:0 10px 0 12px;
  color:#fff;
  text-decoration:none;
  border-radius:4px;
  font-size: 18px;
  font-weight: bold;
}
.information-card {
	float: left;
	width: 34%;
  margin-right: 3%;
}
.email {
  margin-bottom: 0;
}
form>*{
	display: block;
	width: 100%;
	margin-bottom: 2%;
	font-size: 0.8em;
	font-weight: lighter;
	font-family: 'Open Sans';
	padding-left: 1%;
}
form input[type="submit"] {
	margin: 0;
  background-color: rgb(255, 42, 79);
  color:#fff;
  border-radius:4px;
  font-size: 18px;
  font-weight: bold;
	margin-bottom: 5%;
  border: none;
  float: left;
  position: relative;
  width: auto;
}
@media (max-width: 1270px) {
  h1 {
    font-size:2em;
  }
  h2 {
    font-size: 26px;
  }
  p {
    font-size: 22px;
  }
  #tags .tag {
    font-size:  14px;
  } 
}
@media (max-width: 1150px) {
  #personal-section #about {
    width: 100%;
    position: static;
  }
  #tags {
    position: static;
  }

  #personal-section img {
    width: 70%;
    margin-top: 2%;
  }
  .information-card {
    width: 100%;  
  }
  form>* {
    width: 70%;
    font-size: 22px;
  }
  form input[type="submit"] {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  #personal-section img {
    width: 100%;
  }
  form>* {
    width: 100%;
    font-size: 22px;
  }
}
@media (max-width: 450) {
  h1#name {
    font-size:1.5em;
  }
  h2 {
    font-size: 22px;
  }
  p {
    font-size: 18px;
  }
  #tags .tag {
    font-size:  10px;
  } 
  form>* {
    font-size: 18px;
  }
  form input[type="submit"] {
    font-size: 12px;
  }
}