@keyframes konami {
	0% {
		background-color: black;
	}
	50% {
		background-color: white;
	}
	100% {
		background-color: black;
	}
}
@-webkit-keyframes konami {
	0% {
		background-color: black;
	}
	50% {
		background-color: white;
	}
	100% {
		background-color: black;
	}
}
body {
	background-image: url(konami_background.png);
	animation: konami 1s infinite;
	-webkit-animation: konami 1s infinite;
	background-repeat: no-repeat;
	background-size: 40%;
	height: 4000px;
}